.Rproj.user
.Rhistory
.RData
.Ruserdata
presentation.log
presentation.nav
presentation.snm
presentation.synctex.gz
presentation.tex
presentation.toc
presentation-concordance.tex
wdi-presentation.Rproj
fsds.Rproj
